/*--------- 
   Reset 
-----------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------- 
   Common 
-----------*/

.conteiner{
    padding: 0 40px;
}

.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.list ul{
    list-style-type: none;
}

img{
    width: 100%;
}

p{
    line-height: 1.5;
}

.awesome{
    color: #0084fd;
    font-size: 50px;
    padding-bottom: 20px;
}
/*--------- 
   Header 
-----------*/

header{
    background-color: #0084fd; 
    color: white;
}

.header-text{
    align-items: center;
    padding: 10px 0;
}

.list{
    display: none;
    color: white;
} 

li{
    padding: 0 10px;
}

li:last-child{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

ul{
    align-items: center;
}

/* desktop */
@media screen and (min-width:992px) {

    .hamburger{
        display: none;
    }

    .list{
        display: block;
    }
    
}

/*--------------- 
       Main 
-----------------*/

/*--------- 
  I Section 
-----------*/
 
.box{
    width: 100%;
    background-color: #b5ddff;
    border-radius: 20px;
    margin: 10px 0;
    padding: 20px;
}

.box h3{
    color: #0084fd;
}

.box p{
    color: #5a6e7f;
    padding: 20px 0;
}

.section1{
    text-align: center;
}

.button-apple{
    background-color: #0084fd;
    color: white;
    border-radius: 20px;
    padding: 10px;
}


@media screen and (min-width:768px) {

    .box{
        width: calc(100% /3);
        background-color: #b5ddff;
        border-radius: 20px;
    }

    .box:first-child{
        width: calc((100% /3) *2);
        display: flex;
        flex-wrap: wrap;
    }

    img{ 
        width: 75%;
    }
}

@media screen and (min-width:992px) {

   img{
    width: 75%;
   }


}

/*--------- 
  II Section 
-----------*/

.section2{
    background-color: #9792e4;
    padding: 20px;
}

.section2 > div:last-child{
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}

@media screen and (min-width:992px) {
    
    .section2{
        display: flex;
        justify-content: end;
    }
}

/*--------- 
 III Section 
-----------*/

.section3 > div:first-child{
    text-align: center;
}

.testimonial{
    background-color: #9792e4;
    border-radius: 20px;
    text-align: center;
    margin: 20px 0;
}

@media screen and (min-width:768px) {

    .testimonial{
        display: flex;
    }
}

/*--------- 
 IV Section 
-----------*/

.section4{
    background-color: #9792e4;
    padding: 20px;
}

.box-4section{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;

}

@media screen and (min-width:768px) {

    .box-4section{
        width: 50%;
    }
}


@media screen and (min-width:992px) {

    .box-4section{
        width: calc(100% /3);
    }
}

/*--------- 
  V Section 
-----------*/

@media screen and (min-width:768px) {

    .box-5section{
        display: flex;
    }
    
}